# Ignore everything
*

# But not these files...
!openspec/
!openspec/**

!transport/
!transport/**/*.py
!capture/
!capture/**/*.py
!client/
!client/**/*.py
!encoder/
!encoder/**/*.py
!recorder/
!recorder/**/*.py
!ui/
!ui/**/*.py
!utils/
!utils/**/*.py

# Ignore Windows Python launcher
__launcher__.manifest
